<section>

  <h2>Data format</h2>
  <p>
    Donec dignissim, diam a gravida sollicitudin, neque nisl eleifend libero, in
    commodo sapien nibh sit amet dolor. Aenean eleifend nisi sit amet lacinia
    dignissim. Nullam purus dui, porta id luctus sed, tempus eu dolor. Praesent
    lacinia turpis eget aliquet tempor. Cras nec arcu in purus volutpat finibus.
    Sed tristique, dolor eget lobortis dignissim, mauris nibh dignissim est, et
    consectetur sapien massa sed purus. Fusce accumsan tempor eros, nec viverra
    ante gravida et. Cras congue lobortis libero, nec porttitor mauris
    condimentum nec. Sed vitae lacus eu odio pharetra mollis eleifend nec
    mauris. Nam in fringilla eros. Mauris in risus in lacus maximus finibus.
    Donec in ultricies purus. Maecenas tincidunt tempus tempus. Nullam sit amet
    blandit metus, in faucibus ligula. Vivamus vestibulum et lacus eu dictum.
  </p>

  <h3>Sorting algorithm</h3>

  <p>
    eleifend nec mauris. Nam in fringilla eros. Mauris in risus in lacus maximus
    finibus. Donec in ultricies purus. Maecenas tincidunt tempus tempus. Nullam
    sit amet blandit metus, in faucibus ligula. Vivamus vestibulum et lacus eu
    dictum.
  </p>

  <pre><code class="javascript">Object.keys(SellerSales).sort((a, b) => SellerSales[b]! - SellerSales[a]!).map(b => SellerSalesSorted[b] = SellerSales[b]!);</code></pre>
</section>
